@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

:root{
/* fonts */
--ppk-primary-font:"open sans",sans series

/* colors */
--ppk-fontcolor-descount:#bd4949;

/* padding  */
--ppk-padding-s:10px;
--ppk-padding-m:20px;
--ppk-padding-l:30px;
--ppk-padding-xl:40px;
/* margin */
--ppk-margin-s:10px;
--ppk-margin-m:20px;
--ppk-margin-l:30px;
--ppk-margin-xl:40px;
/* gap */
--ppk-gap-xs: 10px;
--ppk-gap-s: 20px;
--ppk-gap-m: 30px;
--ppk-gap-l: 40px;
--ppk-gap-xl: 50px;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ppk-primary-font);
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
.menu{
 display: none;
}
.logo{
  width:400px;

}
.menu img{
  width:50px;
  height: 50px;
  object-fit: fill;
}
header{
  display:flex;
  justify-content: space-between;
  background-color: rgb(132, 132, 206);
  width:100svw;
  height: 15svh;
  min-width: 300px;
  padding: var(--ppk-padding-m);
  position: fixed;
  z-index: 2;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  gap:var(--ppk-gap-l);
  padding: var(--ppk-padding-m);
  flex-wrap: wrap;
}
.side_filter{
  width:30%;
  height:100%;
  background-color: rgb(191, 191, 228);
  padding: var(--ppk-padding-m);
  margin: var(--ppk-margin-m);

 position: absolute;
 top:50px;
 left:0px;
}
.productscontiner{
  display:flex;
  width: 60% !important;;
  flex-wrap: wrap;
  position: absolute;
  left:500px;
  top: 150px;
  gap: var(--ppk-gap-l);
  padding: var(--ppk-padding-l);
  margin: var(--ppk-margin-m);
}
.product{
  width:250px;
  position: relative;
  display:flex;
  min-width: 200px;
  flex-direction: column;
  gap: var(--ppk-gap-s);
  align-content: center;
  align-items: center;
}
.productsize>img{
  width:200px;

}
.love {
  width: 20px, !important;
  display: flex;
  border:none;
  border-radius: 10%;
  position: absolute;
  top:10px;
  width:180px;
  justify-content: space-between;
  padding: var(--ppk-padding-s);
  visibility: hidden;
}
.love img{
  width:30px
}
.product:hover{
  transform: scale(1.2);
  .love{
    visibility: visible;
  }
}
.stars{

    width: 25px;
    height: 25px;
    background-color: gold;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    
}
.points{
  display: flex;
}
.fill{
  background-color: rgb(182, 58, 58);
}
.side_filter{
  display:flex;
  height: 100svh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.mainfilter{
  display: flex;
  padding: var(--ppk-padding-l);
  flex-direction: column;
  gap: 100px;
 height:250px
  
}
.reset{
  display:flex;
  flex-direction: row;
  gap:var(--ppk-gap-xl);
  min-width:200px;
  height: 50px;
  width: 375px;
  justify-content: center;
}
.reset >button{
  width: 100px !important;
}
/*responsive*/

@media(max-width:1200px){
.logo{
  width:200px;
}
header{
  justify-content: space-around;
}
}
@media(max-width:700px){
  .home{
    display: none;
  }
  header{
    width:100svw;
  }
  .menu{
    display: block;
    height: 50px;
    width:50px;
  }
  .menu_vertical{
    display:flex;
    flex-direction: column;
    gap:var(--ppk-gap-m);
    height: 500px;
    width: 150px;
    overflow: hidden;
    background-color: rgb(133, 133, 218);
    position: absolute;
    top:100px;
    right: 0;
  }
}
@media(max-width:1127px){
  .side_filter{
    width:100svw;
    height:250px;
    background-color: rgb(191, 191, 228);
  min-width: 300px;
   align-items: center;
   align-content: center;
   position: absolute;
   top:140px;
   
}
.mainfilter{
  display: flex;
  flex-direction: column;
  padding: var(--ppk-padding-l);
  gap: var(--ppk-gap-s);
  position: absolute;
  top:-10px;
  width:100%;
  height:150px
  
}
.mainfilter >select{
  width:200px;
  height: 35px;

}
.reset{
  position: relative;
  top: 40px;
  display:flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--ppk-gap-m);
}
.reset>button{
  position: relative;
  width:60px !important;
}
.productscontiner{
  display:flex;
  width: 60% !important;;
  flex-wrap: wrap;
  position: absolute;
  left:0px;
  top: 450px;
  justify-content: space-between;
  gap: var(--ppk-gap-s);
}
.product{
  width: 250px;
  position: relative;
  display:flex;
  flex-direction: column;
  gap: var(--ppk-gap-l);
  align-content: center;
  align-items: center;
  padding: var(--ppk-padding-l);
  padding-left: var(--ppk-padding-m);
}
.productsize>img{
  width:150px;
}
}